div.forecast-container
    div.weather-wrapper
        each day in weather
            div.day-weather
                p= day.day
                div.stripe
                div.icon
                    img(src= day.icon)